@{
    ViewData["Title"] = "Home Page";

    decimal[] SeriesVal = { 50.55M, 55, 41, 17 };
    string[] LabelsVal = { "India", "USA", "UK", "Canada" };


}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


